/*******************************TAG SELECTOR********************************/
body{
    background-color: azure;
}
h1{
    font-size: 200px;
    color: red;
}
/*
img{
    background-color: red;
}*/

/*******************************Class SELECTOR********************************/
.bacon{
    background-color: green;
}
.eggplant{
    background-color: red;
}
